!.idea/codeStyleSettings.xml
!.idea/codeStyles/
!.idea/inspectionProfiles/
.idea
.project
.settings
.classpath
.tern-project
.springBeans
*.iml
*.jasper

hrid-api
hrid-reciever

.tmp
bower_components
node
node_modules
**/webapp/dist

**/generated
target
out
bin
**/*.log

*.swp
.DS_Store
