<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <!-- reset all previous level configurations of all j.u.l. loggers -->
    <resetJUL>true</resetJUL>
  </contextListener>

  <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>
  <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%-40.40t{39}] %-100.100logger{99} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <springProperty scope="context" name="date-pattern" source="logging.date-pattern" defaultValue="%d{yyyy-MM-dd}"/>
  <springProperty scope="context" name="max-history" source="logging.max-history" defaultValue="30"/>
  <springProperty scope="context" name="size-cap" source="logging.size-cap" defaultValue="10GB"/>

  <springProfile name="production">
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <encoder>
        <pattern>${FILE_LOG_PATTERN}</pattern>
      </encoder>
      <file>${LOG_FILE}</file>

      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOG_FILE}.${date-pattern}.gz</fileNamePattern>

        <maxHistory>${max-history}</maxHistory>
        <totalSizeCap>${size-cap}</totalSizeCap>
      </rollingPolicy>

    </appender>

    <root level="INFO">
      <appender-ref ref="FILE"/>
    </root>
  </springProfile>

  <springProfile name="!production">
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

</configuration>
